.navbar-container {
  width: 100%;
  background-color: antiquewhite;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}

.logo {
  position: absolute;
  left: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

.nav-links {
  display: flex;
  gap: 20px;
}

a {
  font-size: 1.2rem;
}
