/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: rgb(247,246,248);
}

.main-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
  margin-top: 3rem;
}